.container-404 {
  
    width: 597px;  /* Largeur spécifiée */
    height: 263px;  /* Hauteur spécifiée */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 139px auto 130px auto;  /* Espace en haut du 404 (139px) et en bas du 404 (130px) */
    border-radius: 10px;
    text-align: center;
  }
  
  /* Taille et style du texte "404" dans le conteneur */
  .container-404 h2 {
    color: #FF6060;  /* Rouge */
    font-size: 288px;  /* Taille du texte "404" */
    font-weight: bold;
    font-family: 'Montserrat';
  }
  
  /* Style du texte "Oups!" */
  .oops-text {
    text-align: center;
    color: #FF6060;  /* Rouge */
    font-size: 20px;
    margin-bottom: 15px;  /* Espacement sous "Oups!" */
    font-family: 'Montserrat';
  }
  
  /* Style du lien "Retourner sur la page d’accueil" */
  .return-link {
    text-align: center;
    margin-top: 50px;
  
    a {
      color: rgb(54, 54, 54);  /* Lien en noir */
      text-decoration: none;
      font-size: 18px;
     
    }
  }