.host-container {
    display: flex;
    align-items: center; /* Aligner verticalement le texte et la photo */
    gap: 10px;
    margin-top: -90px;
    margin-left: 78%;
  }
  
  .host-name {
    font-family: 'Montserrat', sans-serif;
    color: rgb(180, 7, 7);
    font-size: 18px;
    font-weight: 400;
  }
  
  .host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%; /* Faire la photo ronde */
    object-fit: cover;
  }