/* Style général du Collapse */
.collapse-container {
    margin-top: 38px;
    margin-bottom: 30px; // Espace entre chaque collapse
    width: 100%;
    max-width: 1023px; // Largeur maximale pour les desktops
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif; // Police Montserrat
    transition: all 0.3s ease;  // Transition générale pour tous les changements
    border-radius: 10px;  // Bordures arrondies sur tout le collapse
  }
  
  /* Style de l'entête du Collapse */
  .collapse-header {
    background-color: #FF6060; 
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease; // Transition fluide du fond
    border-radius: 10px 10px 0 0;  // Bordures arrondies en haut
  }
  
  /* Style du contenu du Collapse */
  .collapse-content {
    background-color: rgb(238, 238, 238); // Gris
    color: black;
    font-family: 'Montserrat', sans-serif; // Police Montserrat
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, box-shadow 0.3s ease; // Transition fluide de max-height, opacité et ombre
    border-radius: 0 0 10px 10px; // Bordures arrondies en bas
  }
  
  /* Quand le Collapse est ouvert */
  .collapse-content.open {
    max-height: 200px;  // Ajustez cette valeur en fonction de la quantité de contenu
    opacity: 1;  // Rendre le contenu visible de manière fluide
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Ombre légère pour l'effet de surbrillance
  }
  
  /* Animation de la flèche */
  .arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
