header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 100px;
    background-color: #fff;

    .logo {
        width: 210px;
        height: 68px;
    }

    nav {
        display: flex;
        gap: 50px;

        a {
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            color: black;
            font-size: 1.2rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        padding: 20px 50px;

        .logo {
            width: 180px;
            height: 58px;
        }

        nav {
            gap: 30px;

            a {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px 30px;

        .logo {
            width: 150px;
            height: 50px;
        }

        nav {
            gap: 20px;

            a {
                font-size: 0.9rem;
            }
        }
    }
}

@media (max-width: 375px) {
    header {
        padding: 15px 30px;

        .logo {
            width: 145px;
            height: 46px;
        }

        nav {
            gap: 20px;

            a {
                font-size: 0.9rem;
            }
        }
    }
}